body {
    background-color: #131322;
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 20px;
}

/* Barra de Navegación */
.navbar {
    border-radius: 20px;
    padding-top: 0.25rem; /* Reducir el padding superior de la barra de navegación */
    padding-bottom: 0.25rem; /* Reducir el padding inferior de la barra de navegación */
    height: 60px; /* Reducir la altura de la barra de navegación */
}

.navbar-toggler {
    position: absolute;
    top: 5px; /* Ajusta este valor según sea necesario para mover el botón del menú hacia arriba */
}

.navbar-nav .nav-link {
    color: white;
    text-decoration: none;
    position: relative;
    margin-right: 25px;
    font-size: 16px; /* Reducir el tamaño de la fuente para hacer el navbar más delgado */
}

.navbar-nav .nav-link:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255);
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    z-index: 1000;
    background-color: rgba(10, 12, 34, 0.616);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.774);
}

.nav-item:hover .dropdown-menu {
    display: block;
}

.nav-item {
    position: relative;
}


/* Estilos para los enlaces dentro del menú desplegable */
.dropdown-menu a {
    color: #ffffffcc; /* Cambiar el color del texto a negro */
    text-decoration: none; /* Eliminar el subrayado predeterminado */
}

.dropdown-menu a:hover {
    text-decoration: underline;
}


.fixed-icon {
    position: fixed;
    top: 15px; /* ajustar la posición vertical según necesites */
    left: 00px; /* ajustar la posición horizontal según necesites */
}

.inficon {
    position: absolute;
    top: 11px; /* Alineación en la parte superior */
    right: 25px; /* Alineación en la parte derecha */
}

.inficon img {
    width: 25px; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
}

.banner {
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    object-fit: cover;
    background-position: center;
    background-image: url('../imagenes/IGC.jpg');
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.685);
}

.info {
    padding: 100px 50px; /* Ajuste del padding para hacerlo más fluido */
    margin-top: 100px;
}

h3{
    letter-spacing: 2px;
    padding-top: 20px;
    font-size: 70px;
    color: rgb(255, 255, 255);
}
.encuesta{
    margin-top: 50px;
    margin-bottom: 60px;
}
.colorLabel{
    color: rgb(0, 207, 111);
}
.checkbox{
    margin-left: 10px;
}
.inputs{
    padding: 20px;
} 
.checks{
    padding: 20px;
}
.radios{
    padding: 20px;
}

.botonEnviar{
    margin-top: 50px;
    text-align: center;
}
.boton{
    padding: 10px 30px;
    border: none;
    background-color: rgb(137, 252, 217);
    color: white;
    border-radius: 3px;
}
.Resultados{
    margin-top: 50px;
    text-align: center;
}
p{
    font-size: 17px;
}


footer {
    background-color: #e2c6c6c0;
    color: #f7f7f7c0;
    text-align: center;
    padding-top: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    font-size: 18px;
}
