.cursor {
    cursor: pointer;
}


/* botón ver video*/

#boton {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #fffffffb;
    border-radius: 35px;
    color: #ffffff;
    padding: 7px 15px;
    display: inline-block;
    font-size: 20px;
    margin: 0;
}

#boton:hover {
    background-color: #ff0000fb; /* Cambio de color de fondo en hover */
    color: #fff; /* Cambio de color de texto en hover */
}


/* clases lightbox */

.lightbox {
    background-color: rgba(0, 0, 0, 0.8);
    overflow: scroll;
    position: fixed;
    display: none;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.lightbox-container {
    position: relative;
    max-width: 960px;
    margin: 10% auto;
    padding: 0 3%;
    height: auto;
    z-index: 10;
}


/*transparencia*/

.lightbox-content {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);
}

.lightbox-close {
    background: transparent;
    border-radius: 15px;
    position: absolute;
    /* alinear al centro el boton cerrar:  */
    /*left:40%; */
    right: 7%;
    max-width: 960px;
    font-weight: 300;
    font-size: 20px;
    border: none;
    color: #fff;
    /*altura del boton X*/
    top: -40px;
    /*display: block;*/
}

@media (max-width: 575px) {
    .lightbox-container {
        margin-top: 150px !important;
    }
}


/* controla las clases responsivas del vídeo */

.video-container {
    padding-bottom: 56.25%;
    position: relative;
    padding-top: 30px;
    overflow: hidden;
    height: 0;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

@media (max-width: 575px) {
    .video-container {
        width: 100% !important;
        margin: 0 auto;
    }
}