body {
    /*font-family: 'Fira Sans', sans-serif;*/
    background-image: url('../imagenes/arena.jpg'); 
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 20px;
}

.container-fluid {
    max-width: 400px;
    margin: 250px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(10, 7, 37, 0.7); 
    box-shadow: none;
    border: none; 
}

.usuario, .contrasena
{
    text-align: center;
    font-size: 24px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    margin-bottom: 10px;
}

#showPassword {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 38.4px; 
}

#showPassword:hover {
    background-color: #e9ecef5d; 
}

.checkbox{
    font-size: 15px;
}

footer {
    background-color: none;
    color: #f7f7f7c0;
    text-align: center;
    padding-top: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    font-size: 18px;
}

