body {
    background-color: #ffffff5d; 
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 20px;
}

.navbar {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.container-fluid .topnavbar{
    padding: 20px;
}

.topnavbar {
    background-color: #e2c6c6c0 !important; /* Cambiar el color de fondo a rosado */
    padding: 20px;
}

.dropdown-menu{
    background-color: rgba(241, 145, 212, 0.24);
}

.dropdown-item:hover {
    background-color: rgba(224, 123, 191, 0.808); /* Hacer el fondo transparente al pasar el ratón */
}

h1 {
    font-size: 85px;
    padding-left: 55px;
}

.banner {
    background-image: url("imagenes/banner.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner1 {
    background-image: url("imagenes/banner1.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.circular-img {
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.btncirculos {
    padding: 15px;
    border: none;
    margin: 15px;
    border-radius: 50%;
}

.img img {
    width: 60%;
}

.img {
    padding-top: 20px;
}

.info {
    margin-top: 70px;
    margin-bottom: 70px;
}

.info h2 {
    font-weight: bolder;
    font-size: 40px;
    letter-spacing: 1px;
}

.info3 {
    box-shadow: 3px 3px 10px #4d4d4d;
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    padding: 40px 20px;
    border: solid rgb(180, 180, 180) 1px;
}

.info2 {
    padding: 10px 80px;
}

h3 {
    font-size: 35px;
    color: rgb(223, 9, 9);
}

.button1 {
    background-color: gray;
    color: white;
    padding: 10px 19px;
    border: none;
    margin: 0 6px;
}

.button2 {
    background-color: #21bd5c;
    color: white;
    padding: 10px 19px;
    border: none;
    margin: 0 6px;
}



footer {
    background-color: #e2c6c6c0;
    color: #f7f7f7c0;
    text-align: center;
    padding-top: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    font-size: 18px;
}
