body {
    background-image: url(/tarea3/Reto5/background.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 22px;
}

.shadow-box {
    box-shadow: inset 0 0 0 400vw rgba(0, 0, 0, 0.623);
}

.navbar {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.container-fluid .topnavbar{
    padding: 20px;
}

.topnavbar {
    background-color: #e2c6c6c0 !important; /* Cambiar el color de fondo a rosado */
    padding: 20px;
}

.dropdown-menu{
    background-color: rgba(241, 145, 212, 0.24);
}

.dropdown-item:hover {
    background-color: rgba(224, 123, 191, 0.808); /* Hacer el fondo transparente al pasar el ratón */
}

p {
    font-size: 22px;
}

.formatos1 {
    color: brown;
}

header {
    background-color: #000;
    height: 60px;
}


.inicio {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 20vh; /* Ajusta la altura de la sección al 100% del viewport */
}

.logo-container {
    text-align: center; /* Centra el contenido horizontalmente */
}

.logo {
    padding: 30px 100px;
    margin-left: 300px;
}

.logo img {
    width: 25%;
}

.logo2 img {
    width: 70%;
}

h1 {
    font-size: 80px;
    letter-spacing: 10px;
}


h2 {
    font-size: 25px;
    letter-spacing: 4px;
}

h4 {
    font-size: 17px;
    letter-spacing: 2px;
}

select {
    width: 100%;
    padding: 3px 20px;
}

.imagen img {
    width: 100%;
}


footer {
    background-color: #4819ae60;
    color: #f7f7f7c0;
    text-align: center;
    padding-top: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    font-size: 18px;
}


@media(max-width: 765px) {
    .logo img {
        width: 100%;
    }
}