body {
    background-image: url(imagenes/fondo.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 20px;
}

.navbar {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.container-fluid .topnavbar{
    padding: 20px;
}

.topnavbar {
    background-color: #e2c6c6c0 !important; /* Cambiar el color de fondo a rosado */
    padding: 20px;
}

.dropdown-menu{
    background-color: rgba(241, 145, 212, 0.24);
}

.dropdown-item:hover {
    background-color: rgba(224, 123, 191, 0.808); /* Hacer el fondo transparente al pasar el ratón */
}

h1 {
    color: #b30657;
    margin-bottom: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input, .input-group select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #770086;
    background-color: #9e3b7dd0;
    color: #fff;
}

#colorbutton {
    padding: 10px 20px;
    background-color: #701853b6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#colorbutton:hover {
    background-color: #920463;
}


footer {
    background-color: #e2c6c6c0;
    color: #f7f7f7c0;
    text-align: center;
    padding-top: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    font-size: 18px;
}
